# Godot
.godot/
*.import
export_presets.cfg
*.uid

# Blender
*.blend1
*.blend2

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Secrets
.env

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
